[Unit]
Description=FDNS API
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
Type=simple
Restart=always
EnvironmentFile=/etc/fdns.env
ExecStart=/usr/bin/fdns-api

[Install]
WantedBy=multi-user.target
