[Unit]
Description=HOSTSdotTXT API
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
Type=simple
Restart=always
EnvironmentFile=/etc/hostsdottxt.env
ExecStart=/usr/bin/hdt-api

[Install]
WantedBy=multi-user.target
